body {
font-family: 'Times New Roman', Times, serif;
-webkit-font-smoothing: antialiased !important;
   text-shadow: none;
   font-style: normal;
   font-weight: normal;
width: 100%;
height: 100%;
margin: 0;
padding:0;
background: #000;
color: #fff;
font-size: 16px;
line-height: 20px;
}

body {
  background-image: url("");
}

a {
  
}

/* p {
  color: white;
  font-size: ;
  text-align: ;
} */
